/*
==========================
= Powered by: @chrisc0de =
= For: Coderise Bootcamp =
==========================
*/

:root {
    /* Colores */
    --base-color:#00d2d3;
    --btn-active-color: #01a3a4;
    --background-index: url(/resources/css/img/travel-01.jpeg)
}

/*-----------------------*/
/* Configuraciòn inicial */
/*-----------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
}

html{
    background-color: #FFF;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden; /* Oculta scroll hortizontal */
}

/*-----------------------*/
/*  Còdigo reutilizable  */
/*-----------------------*/

/*-- Definimos el ancho de la fila (row) --*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}
/* Espacio entre sections */
section {
    padding: 80px;
}

.box {
    padding: 1%;
}

/*----- Encabezado -----*/
h1,
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #FFF;
    font-size: 300%;
    word-spacing: 4px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: var(--base-color);
    content: "";
    width: 100px;
    margin: 0 auto; /* Centramos */
    margin-top: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

/*----- Modify Arrow Effect -----*/
h4{
    color: var(--btn-active-color);
    font-size: 65%;
    opacity: 0.4;
    letter-spacing: 2px;
}

header a{
    text-decoration: none;
}

/*----- Botones -----*/
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited{
    background-color: var(--base-color);
    border: 1px solid var(--base-color);
    margin-right: 15px;
    color: #FFF;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.btn-transparent:link,
.btn-transparent:visited{
    border: 1px solid var(--base-color);
    color: #FFF;

}


/*----- Efecto -----*/
.btn:hover,
.btn:active{
    background-color: var(--btn-active-color);
}

/*----- Pàrrafos -----*/
.paragraph{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

/*----- Iconos -----*/
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: var(--btn-active-color);
    font-size: 120%;
    margin-right: 5px;
}

.icon-big{
    font-size: 220%;
    display: block;
    color: var(--base-color);
    margin-bottom: 12px;
    margin-top: 12px;
}


/*-----------------------*/
/*         Header        */
/*-----------------------*/

header{ 
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), var(--background-index);
}


/*----- Welcome -----*/
.travel-welcome-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 42%;
}

/*----- Logo -----*/
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.black-logo{ 
    display: none; 
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/*------------------------------------*/
/*              Nav bar               */
/*------------------------------------*/
.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block; /* Posiciona la lista horizontalmente */
    margin-left: 40px;
    position: relative;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding: 8px 0;
    border-bottom: 2px solid transparent; /*delete*/
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid var(--base-color);
}

.submain{
    position: absolute;
    padding: 8px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.submain li a{
    display: block;
}

.main-nav li:hover .submain{
    visibility: visible;
    opacity: 1;
}

/*----- Effect Navbar -----*/
.nav-persistent{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #eeffee;
    z-index: 9999;
}

.nav-persistent .main-nav{ margin-top: 18px;}

.nav-persistent .main-nav li a:link,
.nav-persistent .main-nav li a:visited{
    color: #555;
    padding: 15px 0;
}

.nav-persistent .logo{ display: none; }
.nav-persistent .black-logo{ display: block; }



/*------------------------------------*/
/*   Page 1 Section 2 - Destinations  */
/*------------------------------------*/

.box img{
    width: 100%;
    height: 210px;
    margin-bottom: 15px;
}

.place-features{
    margin-bottom: 5px;
}

/*------------------------------------*/
/*          San Francisco             */
/*------------------------------------*/

#navigation-sf{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/resources/img/san-francisco-02.png);
    background-size: cover;
    background-position: center;
}

.san-francisco-box,
.peru-box,
.amsterdam-box,
.asia-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-12%, 50%);;
}

/*----- History -----*/
.content-paragraph{
    font-size: 22px;
}

.history{
    padding-bottom: 0px;
}

/*----- Lugares -----*/

.section-slide{
    padding-bottom: 0px;
}

.splide__slide{
    height: 650px;
}

.splide__slide img{
    width: 100%;
    height: 100%;
}

/*----- Food -----*/
.checked{
    color: orange;
}

.all-food{
    margin-top: 30px;
}

.popular-food{
    padding-bottom: 0;
}

/*----- Travel Tips -----*/
.paragraph-tips{
    margin-left: 0;
}

.travel-tips{
    padding-top: 40px;
}

/*------------------------------------*/
/*             Amsterdam              */
/*------------------------------------*/
#navigation-ams{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/resources/img/amsterdam-01.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/*------------------------------------*/
/*                Asia                */
/*------------------------------------*/
#navigation-asia{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/resources/img/asia-01.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/*------------------------------------*/
/*                Perù                */
/*------------------------------------*/
#navigation-pr{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/resources/img/peru-01.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/*--- Correcion padding all sections --*/
.san-francisco-full,
.peru-full,
.asia-full,
.amsterdam-full{
    padding: 0;
}

/*------------------------------------*/
/*              Shopping              */
/*------------------------------------*/

.tickets-background{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/resources/img/airplane-03.jpg);
    background-size: cover;
    background-position: center;
}

#navigation-tks{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/resources/img/tks.jpg);

}

.tks-section{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/resources/img/tks.jpg);
}


.shopping-cart-items{
    padding: 20px 0px;
}
  
.shopping-cart-header{
    border-bottom: 1px solid #ccc;
}

.shopping-cart-image{
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input{
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total{
  min-height: 96px;
}

/*------------------------------------*/
/*              Footer                */
/*------------------------------------*/
footer{
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 30px;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social{
    list-style: none;
    float: right;
}

.footer-nav li,
.social li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social li a:link,
.social li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.social li a:link,
.social li a:visited{
    font-size: 180%;
}

.fb-logo:hover{
    color: #1877f2;
}

.tw-logo:hover{
    color: #1da1f2;
}

.ins-logo:hover{
    color: #c32aa3;
}

.git-logo:hover{
    color: #000000;
}

/*------------------------------------*/
/*            Social nav              */
/*------------------------------------*/

.social-nav{
    font-size: 80%;
}








































































